* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    color: #000;
    list-style: none;
    border: none !important;
}

a {
    text-decoration: none;
}

/* .main {
    margin: 0 auto;
    max-width: 1140px;

} */

/* MAIORIA HEADER */

.logo img {
    height: 70px;
    transition: 300ms;
}

header {
    background-color: #090809;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 10px;
    border-bottom: 1px solid #1cd2c0;
}

header nav {
    background-color: #26282a;
}

header nav ul li a,  i, .navfinal ul li a {
    color: #ebebeb;
    padding: 5px;
    transition: 300ms;
}

header nav ul #sobre {
    transition: 300ms;
}

.header a, i {
    display: block;
}

.menu {
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 50px;
    font-weight: 500;
    flex-wrap: wrap;
}

.user ul {
    display: flex;
    gap: 25px;
}

.sociais ul, .navfinal ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    transition: 300ms;
}

/* MAIORIA MAIN */

.fundo {
    background-image: url(/Imagens/Mine-Cover.jpg);
    background-repeat: no-repeat;
    background-position: 80% 0%;
    background-size: cover;
}

.produto {
    background: rgba(0, 0, 0, 0.774);
    backdrop-filter: blur(5px);
    box-shadow: inset -8px 30px 35px -29px #000;
    margin: -2px auto;
}

.produto, .produto .imagens .minis  {
    border: solid 5px black;
    padding: 80px 0 60px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.produto .imagens {
    border: 2px solid rgb(0, 68, 255);
    width: 100%;
    max-width: 450px;
    height: auto;
    /* background-color: #c7d0da; */
    filter: drop-shadow(0px 0px 10px #000);
}

.produto .imagens img {
    border: 2px solid rgb(181, 201, 1);
    width: 100%;
    height: auto;

}

.produto .imagens #principal{
    border-radius: 8px;
}

.produto .imagens .minis a {
    max-width: 80px;
    filter: grayscale(50%);
}

.produto .imagens .minis {
    border: 2px solid rgb(202, 0, 0);
    width: 100%;
    max-width: 500px;
    height: auto;
    justify-content: space-evenly;
    padding: 8px 0;
}

.produto .imagens .minis a img {
    border-radius: 50%;
}

.produto .resumo {
    border: 2px solid rgb(0, 255, 0);
    max-width: 450px;
    padding: 0 0 30px 0;
}

.produto .resumo h1 {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 50px;
    color: #ebebeb;
}

.produto .resumo p {
    font-size: 22px;
    margin: 20px 0 40px 0;
    line-height: 35px;
    color: #ebebeb;
}

.produto .resumo .pedido a {
    font-size: 15px;
    font-weight: 700;
    background-color: #3366ff;
    color: #ebebeb;
    padding: 20px 50px;
}

.detalhes {
    margin: 0 auto;
    max-width: 1190px;
    border: 2px solid #3366ff;
    padding: 50px 50px;
}

.detalhes h2, .detalhes p, .detalhes ul li {
    font-size: 18px;
    line-height: 220%;
    list-style: disc;
    list-style-position: inside;
}

.detalhes h2 {
    font-size: 22px;
    color: #9f040c;
}

.detalhes ul li::marker {
    color: #9f040c;
}

.detalhes p {
    margin: 15px 0;
}

span {
    font-size: 18px;
    font-weight: 700;
}


/* MAIORIA FOOTER */

.footer {
    background-color: #26282a;
}

.footer .termos {
    background-color: #090809 ;
}

.sociais ul, .navfinal ul {
    justify-content: center;
}

.navfinal ul li a, .footer .termos h5 {
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 0.8rem;
}

.footer1, .footer1 .sociais, .footer1 .navfinal {
    padding: 20px
}

.footer .termos h5{
    font-size: 0.5rem;
    color: #a4afba;
    padding: 20px;
}

/* HOVER E DEMAIS */

header nav ul li a:hover, .footer i:hover, .navfinal ul li a:hover, .header i:hover {
    color: #979aa4;
}

.logo img:hover {
    filter: brightness(120%);
}

/* MEDIA QUERIES */

@media only screen and (max-width:549px) {

    .main {
        margin: 0 auto;
    }

    .menu {
        display:block ;
        text-align: center;
    }

    header nav ul li a {
        padding: 10px 90px;
    }

    header nav ul li {
        padding: 10px;
    }
    
    header nav ul li a,  i, .navfinal ul li a {
        padding: 10px;
    }

    .produto .resumo h1 {
        font-size: 40px;
    }

    .produto .resumo p {
        padding: 0 20px;
    }

    .detalhes h2, .produto .resumo p {
        font-size: 18px;
    }
    
    .detalhes p, span, .detalhes ul li {
        font-size: 14px;
    }

    .produto .imagens .minis {
        gap: 5px;
    }
        

}

@media only screen and (max-width:949px) {
    .produto .resumo {
        text-align: center;
    }

}