/* Informações de apoio
font-family: 'Roboto', sans-serif; 300, 400, 500, 700;
font-family: 'Roboto Condensed', sans-serif; 300, 400, 400 italic, 700;
font-family: 'Roboto Slab', serif; 300,400, 700; */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    color: #000;
    list-style: none;
}

body {
    height: 100vh;
    width: 100%;
}

a {
    text-decoration: none;
}

.main {
    margin: 0 auto;
    max-width: 1140px;
}

.logo img {
    height: 70px;
}

header {
    background-color: #090809;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 10px;
    border-bottom: 1px solid #1cd2c0;
}

header nav {
    background-color: #26282a;
}

header nav ul li a {
    color: #ebebeb;
}

.header a, i {
    color: #ebebeb;
    display: block;
    padding: 5px;
}

.menu {
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 50px;
    font-weight: 500;
}

#inicio {
    border-bottom: 2px solid #ebebeb;
    border-top: 2px solid #ebebeb;
}

.user ul {
    display: flex;
    gap: 10px;
}

.destaques div {
    max-width: 600px;
}

.destaques {
    margin: 0 auto;
    padding: 20px 0;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}

.destaques .waterbundle {
    grid-row: 1 / 3 ;
}

.destaques img {
    width: 550px;
}

.niveis, .niveis div, .classicos .capas {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

/* .niveis div, .classicos .capas {
    justify-content: center;
} */

.niveis img {
    width: 120px;
    border-radius: 50%;
}

.niveis p {
    max-width: 200px;
    text-align: center;
}

.divisor {
background-color: #979aa4;
color: #10161a ;
text-align: center;
padding: 10px 0;
margin-top: 30px;
margin-bottom: 30px;
}

.classicos .capas div a img{
    max-width: 350px;
}

.classicos .capas {
    justify-content: space-between;
}

